.App {
  font-family: sans-serif;
  text-align: center;
}
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #d7d7f58b;
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 100vh;
    margin: 0;
  }



.loginDiv,
.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Horizontally center */
    align-items: center;     /* Vertically center */
    gap: 15px; 
    background: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    width: 600px;
    min-height: 70vh;
    box-sizing: border-box;
}

.welcome {
  font-size: 18px;
}

.logoutButton
{
align-self: flex-end;
margin-bottom: 10px;
}

/* Input fields */
  .loginDiv input[type="text"],
  .loginDiv input[type="password"] {
    width: 80%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1.8px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.3s ease;
  }

  .loginDiv input[type="text"]:focus,
  .loginDiv input[type="password"]:focus {
    outline: none;
    border-color: #5b69bc;
  }

button{
    width: fit-content;
    padding: 14px;
    background-color: #5b69bc;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #22274f;
  }




.error {
  font-size: 12px;
  color: crimson;
}

.success {
  font-size: 12px;
  color: green;
}